<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration>
<hibernate-configuration>
	<session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/proyecto_farma_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Sirve para mostrar en consola las sentencias -->
        <property name="show_sql">true</property>
        <!-- Sirve para generar automaticamente la estructura de la bd -->
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Marca"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Categoria"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Producto"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Lote"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Funcionario"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Cliente"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Funcionario"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Venta"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.VentaDetalle"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.Compra"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.CompraDetalle"></mapping>
        <mapping class="py.edu.facitec.sistema_farmacia.modelo.entidades.MovimientoStock"></mapping>
        
	</session-factory>
</hibernate-configuration>








